# do not use version control for the output directory
out/
# do not keep the idea library cache under control
.idea/libraries
.idea/workspace.xml
.idea/codeStyleSettings.xml
.tmp_download_dir/
lib/
logs/
