<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <link rel="icon"
          type="image/x-icon"
          href="html/favicon.ico" />

    <script>
        function toggleAiCheckboxes(flag){
              var aiBoxes = document.getElementsByName('ai');
              for(var idx=0; idx< aiBoxes.length ; idx++){
                  aiBoxes[idx].checked=flag;
              }
        }
    </script>

</head>
<body>
    <form action="/" method="get">
        <p>New Game Form</p>
        <input type="hidden" name="switch-key" value="new-game"/>
        <input type="hidden" name="user-name" value="${user_name}"/>

        <input type="checkbox" name="demo" value="true"/>
        <label>Demo</label>
        <br/><br/>

        #foreach( $ai in $ai_names )
            <input type="checkbox" name="ai" value="$ai" checked/>
            <label>$ai</label>
            <br/>
        #end

        <a href="javascript:toggleAiCheckboxes(true);">Select All</a>
        <a href="javascript:toggleAiCheckboxes(false);">Select None</a>

        <br/>

        <input type="submit"/>
    </form>

    <br/>
    <hr/>
    <br/>

    <form action="/" method="get">
        <p>Join Game Form</p>
        <input type="hidden" name="switch-key" value="join-game"/>
        <input type="hidden" name="user-name" value="${user_name}"/>

        #foreach( $game in $game_ids )
            <input type="radio" name="game" value="$game"/>
            <label>$game</label>
            <br/>
        #end

        <br/>

        <input type="submit"/>
    </form>

</body>
</html>