<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <link rel="icon"
          type="image/x-icon"
          href="html/favicon.ico" />

</head>
<body>
    <form action="/" method="get">
        <p>New Game Form</p>
        <input type="hidden" name="switch-key" value="new-game"/>
        <input type="submit"/>
    </form>
</body>
</html>