<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <link rel="icon"
          type="image/x-icon"
          href="/html/favicon.ico" />

    <script>
        function toggleAiCheckboxes(flag){
              var aiBoxes = document.getElementsByName('ai');
              for(var idx=0; idx< aiBoxes.length ; idx++){
                  aiBoxes[idx].checked=flag;
              }
        }
    </script>

</head>
<body>
        #if (! $error.isEmpty() )
            <div style="color:red;">Error: $error</div>
        #end

    <form action="/app/new-game" method="post">
        <p>New Game Form</p>
        <input type="hidden" name="user-name" value="${user_name}"/>

        <input type="checkbox" name="demo" value="true"/>
        <label>Demo</label>
        <br/><br/>


        #foreach( $ai in $ai_names )
            <input type="checkbox" name="ai" value="$ai" checked/>
            <label>$ai</label>
            <br/>
        #end

        <a href="javascript:toggleAiCheckboxes(true);">Select All</a>
        <a href="javascript:toggleAiCheckboxes(false);">Select None</a>

        <br/>

        <input type="submit"/>
    </form>

    <br/>
    <hr/>
    <br/>

    <p>Join Game Form</p>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Started By</th>
            <th>Started At</th>
            <th>Type</th>
            <th>Action</th>
        </tr>

    #foreach( $game_id in $game_ids )
        #set($menu_entry=$game_requests.get($game_id))
        <tr>
            <td>$game_id</td>
            <td>$menu_entry.RequesterName</td>
            <td>$menu_entry.RequestTime</td>
            <td>$menu_entry.GamePurpose</td>
            #if($menu_entry.isJoinable())</td>
            <td><a href="/app/join-game?user-name=${user_name}&game=${game_id}">Join</a></td>
            #else
            <td><a href="/app/view-game?user-name=${user_name}&game=${game_id}&demo=${menu_entry.isDemo()}">View</a></td>
            #end
        </tr>
    #end

    </table>

    <br/>

</body>
</html>