<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <script src="js/map.js"></script>
    <script src="js/status.js"></script>
    <script src="js/connection.js"></script>
    <script src="js/place_army.js"></script>
    <script src="js/player_status.js"></script>
    <script src="js/occupation.js"></script>
    <script src="js/from_to_order.js"></script>
    <script src="js/heartbeater.js"></script>
    <script>var web_socket_protocol='$web_socket_protocol';</script>
        <link rel="icon"
              type="image/x-icon"
              href="html/favicon.ico" />

    <style>
#canvas-div {
width: 1000px;
float: left;
}

#order-event-div {
height: 600px;
width: 250px;
overflow: scroll;
border-style: solid;
margin-left: 610 px;
}

    </style>
</head>
<body onload="initializeClient('${name}', '${address}')">
    <p>Game Number: $game_id --- $name @ $address</p>

  <div style="width: 100%; overflow: hidden;">
    <div id="canvas-div">
        <canvas id="canvas_map" width="1000" height="600" onclick="map_clicked">
        </canvas>
    </div>
    <div id="order-event-div">
    </div>
  </div>


  <div id="active-player-field"></div>
  <div id="order-console-div"></div>

  <div id="player-status-div">
      #foreach( $color in $colors )
         <div style="color:$color.foreground;background-color:$color.background;width:16%;float:left;"
         id="player-status-${color.lowerCaseColor}-div">
         $color.color<br/>
          <table id="player-status-${color.lowerCaseColor}-table">
          </table>
          <span id="player-cards-${color.lowerCaseColor}-span"></span>
         </div>
      #end
  </div>
</body>
</html>
