<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <script src="/js/map.js"></script>
    <script src="/js/status.js"></script>
    <script src="/js/connection.js"></script>
    <script src="/js/place_army.js"></script>
    <script src="/js/player_status.js"></script>
    <script src="/js/occupation.js"></script>
    <script src="/js/from_to_order.js"></script>
    <script src="/js/heartbeater.js"></script>
    <script>var web_socket_protocol='$web_socket_protocol';</script>
        <link rel="icon"
              type="image/x-icon"
              href="/html/favicon.ico" />

    <style>
#canvas-div {
width: 1000px;
float: left;
}

#right-of-map-div {
height: 600px;
width: 400px;
margin-left: 610 px;
}

#army-count-div {
height: 300px;
width: 400px;
border-style: solid;
}

#army-count-graph {
margin-left: 610 px;
}

#order-event-div {
height: 600px;
width: 400px;
overflow: scroll;
border-style: solid;
}

    </style>
</head>
<body onload="initializeClient('${name}', '${address}', ${demo}, ${game_id}, ${join_attempt})">
    <span>Game Number: $game_id --- $name @ $address</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span id="next-exchange-value-span"></span>
  <div style="width: 100%; overflow: hidden;">
    <div id="canvas-div">
        <canvas id="canvas_map" width="1000" height="600" onclick="map_clicked">
        </canvas>
    </div>

    <div "right-of-map-div">
        <div id="order-event-div"></div>
    </div>
  </div>


  <div id="active-player-field"></div>
  <div id="order-console-div"></div>

  <div id="player-status-div">
      #foreach( $color in $colors )
         <div style="color:$color.foreground;background-color:$color.background;width:16%;float:left;"
         id="player-status-${color.lowerCaseColor}-div">
         $color.color<br/>
          <table id="player-status-${color.lowerCaseColor}-table">
          </table>
          <span id="player-cards-${color.lowerCaseColor}-span"></span>
         </div>
      #end
  </div>
</body>
</html>
