<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <link rel="icon"
          type="image/x-icon"
          href="html/favicon.ico" />
</head>
<body>
    <p>Join a game of skir.</p>
    <form action="/" method="get">

        <input type="hidden" name="switch-key" value="chooser"/>

        <p>Name: <input name="user-name" type="text"/></p>

        <p><input type="submit"/></p>

    </form>
    <p><a href="https://github.com/ojplg/skir">Skir</a> is a play-alike version of a popular table-top board game of global genocide.</p>

</body>
</html>