<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <link rel="icon"
          type="image/x-icon"
          href="html/favicon.ico" />
</head>
<body>
    <p>Join a game of skir.</p>
    <form action="/" method="get">

        <input type="hidden" name="switch-key" value="start-game"/>

        <p>Name: <input name="name-input" type="text"/></p>

        <p><input type="submit"/></p>

        <a href="javascript:toggleAiCheckboxes(true);">Select All</a>
        <a href="javascript:toggleAiCheckboxes(false);">Select None</a>

    </form>
    <p>Skir is a play-alike version of a popular table-top board game of world conquest.</p>

    <p><a href="?switch-key=chooser">chooser</a></p>

</body>
</html>