<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skir</title>
    <script src="js/map.js"></script>
    <script src="js/status.js"></script>
    <script src="js/connection.js"></script>
</head>
<body onload="initializeClient('${name}', '${address}')">
    <p>$name @ $address</p>
  <canvas id="canvas_map" width="1000" height="600" onclick="map_clicked">
  </canvas>

  <div id="active-player-field"></div>
  <div id="order-event-div"></div>
  <div id="order-console-div"></div>

  <div id="player-status-div">
      #foreach( $color in $colors )
         <div style="color:$color.foreground;background-color:$color.background;width:16%;float:left;"
         id="player-status-${color.lowerCaseColor}-div">
         $color.color<br/>
          <table id="player-status-${color.lowerCaseColor}-table">
          </table>
          <span id="player-cards-${color.lowerCaseColor}-span"></span>
         </div>
      #end
  </div>
</body>
</html>
