<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk</title>
    <script src="js/map.js"></script>
    <script src="js/status.js"></script>
    <script src="js/connection.js"></script>
</head>
<body onload="initializeClient('${name}', '${address}')">
    <p>$name @ $address</p>
  <canvas id="canvas_map" width="1000" height="600" onclick="map_clicked">
  </canvas>

  <div id="active-player-field"></div>
  <div id="other-player-status-div"></div>
  <div id="order-console-div"></div>

  <div id="player-status-div">
      #foreach( $color in $colors )
         <span style="color:$color.foreground;background-color:$color.background;width:16%;float:left;">
            $color.color<br/>
          Armies: <span id="${color.lowerCaseColor}-armies"></span><br/>
          Countries: <span id="${color.lowerCaseColor}-countries"></span><br/>
          Continents: <span id="${color.lowerCaseColor}-continents"></span><br/>
          Cards: <span id="${color.lowerCaseColor}-cardCount"></span><br/>
          Expected: <span id="${color.lowerCaseColor}-expected"></span><br/>
         </span>
      #end
  </div>
</body>
</html>